.stats-main{
    border:0px solid blue;
    display:flex;
    flex-direction: column;

}
/* <---- Desktop (more than 821px) ----->*/

@media(min-width:821px){
   
    #github-streak-stats,#github-top-langs,#github-stats-card{
        width:40%;
        border:0px solid red;
        margin:auto;
        margin-bottom:40px;
    }
    
    /* .stats-main img:nth-child(-n+2) */
    
}

/* <----- Tablet(600px to 820px) -----> */

 @media(min-width:600px) and (max-width:820px){
    #github-streak-stats,#github-top-langs,#github-stats-card{
        width:70%;
        border:0px solid red;
        margin:auto;
        margin-bottom:30px;
    }
} 

/* <------ mobile (max 599px) ---> */

 @media(max-width:599px){
    #github-streak-stats,#github-top-langs,#github-stats-card{
        width:90%;
        border:0px solid red;
        margin:auto;
        margin-bottom:20px;
    }
    
}