

*{
    margin:0;
    padding:0;
  }
.main-technical{
    border:0px solid blueviolet;
    margin-top: 8px;
    width:100%;
    
}
.main-technicals{
    border:0px solid blueviolet;
    margin-top: 8px;
    width:100%;
    position:relative;
    animation-name:mymove;
    animation-duration: 1s;
}
@keyframes mymove{
    from {right:0px;}
    to {left:-120px;}
}

.BackEnd-Skills>div:first-child{
    display:none;
}
.front-img{
    transition: transform 0.8s;
}
.front-img:hover{
    transform: rotateY(360deg);
    cursor: pointer;
}

@media(min-width:821px){

    .frontend-heading{
        margin-bottom: 50px;
    }
    

    .TechSkills,.BackEnd-Skills{
        width:80%;
        height: 280px;
        margin:auto;
        display: flex;
        /* grid-template-columns: repeat(auto-fit,minmax(80px,max-content));    */
        grid-template-rows:80px;
        gap:20px;
        justify-content: center;
        align-items: center;
        
        padding: 20px 60px 20px 60px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border:0px solid blue;
    }

    .front-hero-div{
        width:100%;
        height: auto;
        border: 0px solid green;
    }
    
    .front-img{
        width:120px;
        height:120px;
        margin: auto;
        
    } 
    
    .backend-heading{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
}


@media(min-width:600px) and (max-width:820px){
    .main-technical{
        margin-top: 60px;
    }
    .frontend-heading{
        margin-bottom: 40px;
    }
    .backend-heading{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #back-head{
        margin-top: 40px;
        margin-bottom: 40px;
    }
   
    .TechSkills,.BackEnd-Skills{
        width:85%;
        height: auto;
        margin:auto;
        
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:auto;
        gap:20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border:0px solid green;
    }

    .front-hero-div{
        width:100%;
        margin: auto;
        border: 0px solid green;
    }
    
    .front-img{
        width:80px;
        height:80px;
        margin: auto;
    } 
    
    
    .backend-heading{
        margin-bottom: 50px;
        margin-top: 50px;
        margin: auto;
    }

}


@media(max-width:599px){

    .frontend-heading,.backend-heading{
        margin-bottom: 20px;
    }
    #back-head{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .TechSkills,.BackEnd-Skills{
        width:90%;
        height: 250px;
        margin:auto;
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:100px;
        gap:15px;
        padding: 15px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border:0px solid aqua;
    }

    .front-hero-div{
        width:100%;
        margin: auto;
        font-size: 8px;
        border: 0px solid green;
    }
    
    .front-img{
        width:60px;
        margin: auto;
        height:60px;
    } 
    
    
    .backend-heading{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .BackEnd-Skills>div:first-child{
        display:block;
    }
    .BackEnd-Skills>div:nth-child(2){
        display: none;
    }
    
}
/* <---- Desktop (more than 821px) ----->

@media(min-width:821px){

}

/* <----- Tablet(600px to 820px) -----> */

/* @media(min-width:600px) and (max-width:820px){

} */

/* <------ mobile (max 599px) ---> */

/* @media(max-width:599px){
    
} */ 