
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
  @import url('https://fonts.googleapis.com/css?family=Tangerine');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
    /* font-family:Arial, Helvetica, sans-serif; */
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    height: 140px;
    background: gray; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #474E68; 
    
  }
  
  .App,.AppWhite{
     width: 100%; 
    
    display:grid;
    grid-template-columns: repeat(1,1fr);
    
  }
  .App{
    background-color:#474E68;
    min-height: 100vh;
  }
  

  .loader{
    width:80%;
    margin: auto;
  }
  .normload{
    display: none;
  }
  #nav-menu,#dark-nav-menu{
    font-size: 25px;
    border-radius: 10px;
    font-weight: 700;
    position: sticky;
    top:0.2px;
    z-index: 8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #nav-menu button{
    
    color:white; 
    
    /* font-family: 'Tangerine'; for Name sign */
    /* font-family: 'Poppins', sans-serif;  */
  }
 #nav-menu button:hover{
    color:rgb(38, 198, 218);
    border-bottom: 3px solid rgb(38, 198, 218) ;
    font-weight: bold;
 }
 #dark-nav-menu button{
   color:darkblue;
   
 }
 #dark-nav-menu button:hover{
    color:aqua;
    text-decoration: none;
 }
 
  .showall{
    display:block;
  }

  .hideall{
    display:none
  }

  .github-calender,.white-calender{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:10px;
    color:white;
    border:0px solid red;
  }
  .white-calender{
    color:black;
  }







/* <---- for desktop starts here ----> */

@media(min-width:821px){
  #hamburgon{
    display: none;
  }
  #nav-menu,#dark-nav-menu{
    
    /* background-image:linear-gradient(#718096,#A0AEC0); */
    /* background-color:#718096; */
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border:0px solid red;
  }
  #nav-menu{
     /* background-color: #718096;  */
     /* background-image: linear-gradient(180deg,#718096,#718096); */
    /* background-color: black; */
    border: 0px solid green;
    background-color: #404258;
  }
  #dark-nav-menu{
     background-color: lightblue; 
    
  }

 .hide-right-Nav-Test{
   border: 0px solid blueviolet;
   display: flex;
 }
 .hide-right-Nav-Test button:not(:first-child), .hide-right-Nav-Test div{
   margin-left: 30px;
 }

  /* // Stats heading */
  .stats-heading{
    margin-bottom: 60px;
    margin-top:30px;
   }
  
}

/* <----- for Tablet (600px to 820px) -----> */
@media (min-width:600px) and (max-width:820px){
      .App{
        border: 0px solid salmon;
      }
      #hamburgon{
        display:none;
      }
      #nav-menu,#dark-nav-menu{
        border:0px solid green;
        
        padding: 20px;
        font-size: 20px;
      }
      #nav-menu{
         /* background-color: #718096;  */
        /* background-color: black; */
         background-color:#404258; 
        
      }
      #dark-nav-menu{
        background-color: lightblue;
      }
      
      .topNav div{
        border:0px solid brown;
      }
      .hide-right-Nav-Test{
        border:0px solid red;
        display: flex;
        flex-direction: column;
        text-align: left;
        
      }
      .hide-right-Nav-Test button{
        border:0px solid blueviolet;
        display: flex;
        /* flex-direction: column; */
        text-align: left; 
        display: block;
      }
      .rightNavTest{
        display: none;
      }
      #sun-btn{
        margin-top: 5px;
        display: flex;
      }
       /* // Stats heading */
      .stats-heading{
         margin-bottom: 40px;
         margin-top: 10px;
      }
     
}


/* <------ for mobile (less than 600px) ----> */
  @media (max-width:599px){
  
  #hamburgon{
      display: block;
      display: flex;
      align-items: center;
  }
  .topNav>div{
    border: 0px solid green;
    display: flex;
    align-items: center;
  }
  .topNav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 60px;
    border:0px solid brown;

  }
  #nav-menu,#dark-nav-menu{
    border:0px solid red;
   
    padding: 10px 25px 5px 25px;
  }
  #nav-menu{
     background-color: #404258;
    /* background-color: black; */
  }
  #dark-nav-menu{
    background-color: lightblue;
  }
.rightNavTest{
  border: 0px solid green;
  display: flex;
  flex-direction: column;
}

.rightNavTest button{
  border:0px solid blueviolet;
  display: flex;
  /* flex-direction: column; */

  text-align: center; 
  display: block;
}
.rightNavTest button:not(:last-child){
  border-bottom: 1px solid lightblue;
}
.rightNavTest div{
  border:0px solid brown;
  border-bottom:1px solid lightblue;
  display: flex;
  justify-content: center;
}
#sun-btn{
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  background-color: orangered;
  padding:7px 30px 7px 30px;
}
.hide-right-Nav-Test{
  border:0px solid red;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
  display: none;
}
  /* // Stats heading */
  .stats-heading{
     margin-bottom: 25px;
  }
 
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    height: 40px;
    background: gray; 
    border-radius: 10px;
  } 
  
 
}
  

/*  give padding to make consise or to fix inside it those texts in a box like remove github calender padding inside inline style then u know */


/* background-color: #404258;  dark blue*/
    /* background-color: #222; beutiful black*/
     /*background-color:#181D31; chakra blue*/
     /*181D31*/
     /* background-color:#222222;  black*/
    /* background-color:#50577A;  blue good */ 
    /* background-color:#474E68; dark blue */